/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.app-container {
  position: relative;
  width: 100%;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

.full-height {
  min-height: calc(100vh - 4rem);
}

.app-width {
  max-width: 120rem;
}

@media only screen and (max-width: 1280px) {
  .artist-page-image-wrap {
    padding-top: 50%;
  }
}
